<div>
    <input class="input" [(ngModel)]="input1" maxlength="13" (ngModelChange)="detectChange($event)" placeholder="please enter card number">
    <div *ngIf="visa">
        <span>visa card</span>
        <img class="visa" src="/assets/visa.jpg" width="23px" alt="">

    </div>

    <div *ngIf="mastercard">
        <span>mastercard</span>
        <img class="visa" src="/assets/mastercard.png" width="23px" alt="">

    </div>
</div>